#Configuration for Access Attributes
[MongoDBConnection]
db.host=localhost
db.port=27017
db.username=
db.password=
db.batch_limit=1000
db.schema=Political_Coding_DB

[JRCNames]
JRCNames.entityfile=../data/jrc/entities
db.JRCNames=JRC_Data

[Cameo]
Cameo.Phoenix.agents=../data/cameo/Phoenix.agents.txt
Cameo.Phoenix.Countries.actors=../data/cameo/Phoenix.Countries.actors.txt
Cameo.Phoenix.International.actors=../data/cameo/Phoenix.International.actors.txt
Cameo.Phoenix.MilNonState.actors=../data/cameo/Phoenix.MilNonState.actors.txt
db.Cameo=CAMEO_Data

[CameoJRC]
db.CameoJRCCountryActor=CAMEO_JRC_Relation

[BableNet]
db.BableNet.Cache=BableNet_Cache
access.key=7914e95c-2716-4cce-bb47-bbdab5e43f57

[DBPedia]
db.DBPedia.Cache=DBPedia_Cache

#Logging
[Logging]
Logger.File=log/application.log
Logger.Level=DEBUG
# Level's Available : CRITICAL,ERROR,WARNING,INFO,DEBUG
Logger.HomeMessage=Call made to Home
Logger.GetMessage1=Call made to Search From :


[ServerConnection]
Server.Port=2121
Server.Debug=True
WebApp.title=MultiLang API
Webservice.Search=search


#General Message
[GeneralMsg]
Status.success=success
Status.fail=fail
Licence.Ack=Bla Bla licence

[AccessParameters]
Access.QueryString=query

#Error Messages
[ErrorMsg]
ContentType.Unsupported=Bad Content Type
